<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460241381805-jpbs2bhn97nhbvkdjn7unofefocp3j1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460241381805-jpbs2bhn97nhbvkdjn7unofefocp3j1j</string>
	<key>API_KEY</key>
	<string>AIzaSyDl4OEg6Qm3iww3HyJODCngVU6e2zMvDdY</string>
	<key>GCM_SENDER_ID</key>
	<string>460241381805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.drinkApp</string>
	<key>PROJECT_ID</key>
	<string>drink-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460241381805:ios:35c60429e2165226a59924</string>
</dict>
</plist>